.el-col{
    display: flex;
    margin: .15625rem .3125rem;
    align-items: center;
  }

.date{
    text-align: center;
    padding-right: .3125rem;
    border-right: .03125rem solid gray;
}

.date h1{
    font-size: .5rem;
    margin-bottom: -0.078125rem;
}

.date div{
    font-size: .3rem;
}


.greet{
    font-size: .5rem;
    margin-left: .3125rem;
}