* {
    margin: 0px;
    padding: 0px;
    outline:medium
}

a {
    text-decoration: none;
}

li {list-style-type:none;}

body {
    background-color: #f6f6f6;
}

/*导航栏*/

.top {
    width: 100%;
    height: 52px;
    top: 0;
    position: fixed;/*浮动顶层*/
    box-shadow: 0 1px 3px rgba(18, 18, 18, 0.1);
    background-color: #ffffff;


}


.t_inside {
    width: 1180px;
    height: 52px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
}
/*logo*/

.logo svg {
    width: 64px;
    height: 30px;
    fill: rgb(0, 102, 225);
}

/*选项栏*/
.item_ul {
    height: 50px;
    margin-left: 25px;
    margin-right: 15px;
}

.item_ul li:first-child>* {
    color: black;
    font-weight: bold;
    border-bottom: 3px solid rgb(0, 102, 225);
}

.item {
    height: 50px;
    display: inline-block;
    line-height: 50px;
    padding: 0 15px;
}


.item a {
    font-size: 15px;
    color:#8590a6;
    padding: 14px 0;
}

.item_ul a:hover{
    color:black
}

/*搜索栏*/
.search {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.find {
    width: 342px;
    height: 24px;
    background-color: #f6f6f6;
    border-radius: 999px;
    padding: 4px 0 4px 16px;
    border: 1px solid rgb(235, 235, 235);

}


.s_button {
    width: 44px;
    height: 24px;
    background-color: #f6f6f6;
    border: 0px;
    cursor: pointer;
}

.s_button svg,.s_button path {
    width: 19.13px;
    height: 19.13px;
    fill:rgb(133, 144, 166);
}
.s_text {
    width: 286px;
    height: 24px;
    line-height: 24px;
    background-color: #f6f6f6;
    border: 0px;

}

.ask {
    width: 70px;
    height: 34px;
    background-color: #0066FF;
    color:#FFFFFF;
    border: 0px;
    border-radius: 999px;
    margin-left:12px ;
    cursor: pointer;
    

}

/*内容部分*/

.title {
    width: 100%;
    height: 269px;
    background-color: #ffffff;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 1px 3px rgba(18, 18, 18, 0.1);
    margin-bottom: 10px;
}

.t_content {
    width: 1000px;
    height: 237px;
    padding:0 16px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}



.main {
    width: 687px;
    height: 195px;
    background-color: #ffffff;
}




/*类型按钮*/
.type {
    width: 100%;
    height: 38px;
    background-color: #ffffff;
    display: flex;
    align-items: flex-end;
    

}

.f_type {
    width: 52px;
    height: 30px;
    margin: 3px 5px 3px 0;
    padding: 0 12px;
    background-color: rgba(0, 102, 225, 0.1);
    border-radius: 999px;
    box-sizing: border-box;
    line-height: 30px;
}

.s_type {
    width: 94px;
    height: 30px;
    margin: 3px 5px 3px 0;
    padding: 0 12px;
    background-color: rgba(0, 102, 225, 0.1);
    border-radius: 999px;
    box-sizing: border-box;
    line-height: 30px;
}

.type span {
    color: #0066FF;
    font-size: 14px;
}

.main h1 {
    width: 100%;
    height: 32px;
    font-size: 22px;
    margin: 12px 0 4px;
    background-color: #ffffff;
}



.book a {
    width: 643px;
    height: 44px;
    display: flex;
    align-items:center;
    margin: 14px 0px;
    border-radius: 5px;
    padding: 8px 12px;
    background-image: linear-gradient(to left, rgba(0, 102, 255, 0.1), rgba(0, 102, 255, 0.04));
    background-color: rgb(255, 255, 255);
}

/*浏览栏*/
.fans{
    width: 293px;
    height: 195px;
    padding-right: 20px;
    background-color: white;

}


.fans_button div {
    height:50px;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
}

.my_view {
    width: 1032px;
    height: 50px;
    margin: 4px 0 -12px;
    padding: 0 0 12px;
    padding-bottom: 12px;
    box-sizing: border-box;
}
/*回答按钮*/
.button3 button {
    height: 34px;
    margin: 0 8px;
    padding: 0 16px;
    font-size: 14px;
    cursor: pointer;
}

.view {
    width: 696px;
    height: 38px;
    padding: 0 16px;
    background-color: white;
    box-sizing: border-box;
}

.banner button {
    background-color: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;
    color: #8590a6;
    font-size: 14px;
    margin: 0 20px 0 1px;
}

/*评论区*/
.comment {
    width: 1000px;
    height:100px ;
    background-color: blue;
    margin: 0 auto;
    display: flex;
    justify-content:space-between
}



/*左评论区*/
.comment_left {
    width: 694px;
}

.c_top {
    width: 654px;
    height: 50px;
    padding: 0 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 1px solid rgb(246, 246, 246)
}
.user_info_1 {
    width: 100%;
    margin: 0;
}

.c_button button{
    padding: 0;
    line-height: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;
    cursor:pointer;
}


.comment_button {
    width: 100%;
    height: 54px;
    padding: 10px 20px 10px 0;
    box-sizing: border-box;
}
.user_bu {
    display: flex;
    align-items: center;
}

.user_bu button {
    background-color: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;
    color: #8590a6;
    font-size: 14px;
    margin-left: 24px;
}

/*右评论区*/
.comment_right {
    width: 296px;
    
}

.question {
    width: 100%;
    box-shadow: 0 1px 3px rgba(18, 18, 18, 0.1);
    margin-bottom: 10px;


}

.answer>* {
    font-size: 14px;
    color:#175199;
}

.answer span {
    color:#8590a6;
}

.answer a:hover {
    text-decoration:underline;
}

.t_a img{
    width: 80px;
    height: 64px;
    margin: 0 8px 0 0 ;
}



.t_a {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    color: #121212;
    padding: 5px 0;
    border-top: 1px solid rgb(246, 246, 246);
    font-weight: bold;

}



.t_a div {
    width: 168px;
    text-overflow: ellipsis;
    
}

/*联系我们*/
.r_button a,.r_button span{
    font-size: 14px;
    color:#8590a6;
    margin-top: 2px;
}

.r_button a {
    height: 26px;
    align-items: center;
}
.r_button a>* {
    vertical-align: middle;
}

.r_button .dot::after {
    content: "\B7";
    margin: 0 5px;
}


.r_button a:hover{
    color: #6779a0
}